table {
    width: 100%;
  }

td {
  min-width: 60px;
  max-width: 500px;
}

th.mat-sort-header-sorted {
  color: black;
}
.inline{
  display: inline-block;
  width: 100%;
}
.mat-row:hover {
  background-color: rgb(188, 201, 191);
}

.mat-tooltip  {
  white-space: pre-line;
}

.report {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.export {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: rgb(188, 201, 191);
}

  