table {
    width: 100%;
  }

td {
  min-width: 60px;
  max-width: 500px;
}

th.mat-sort-header-sorted {
  color: black;
}
.inline{
  display: inline-block;
  width: 100%;
}
.mat-row:hover {
  background-color: #bcd6ff;
}
  